/* CSS declarations go here */
.indent-small {
  margin-left: 20px;
}

#login-dropdown-list {
  width: 250px;
}

.accounts-dialog input {
  width: 70%;
}

#login-password-label-and-input,
#login-email-label-and-input {
  text-align: left;
}

#login-password,
#login-email{
  float: right;
}

.login-link-text {
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  .navbar-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 20px;
  }
}