/* CSS declarations go here */
.indent-small {
  margin-left: 20px;
}

#login-dropdown-list {
  width: 250px;
}

.accounts-dialog input {
  width: 70%;
}

#login-password-label-and-input,
#login-email-label-and-input {
  text-align: left;
}

#login-password,
#login-email{
  float: right;
}

.login-link-text {
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  .navbar-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 20px;
  }
}

.fullWidth { 
  width: 100%;
}

.centered {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.shortInput {
  width: 40%;
}

.tableContainer {
  overflow-x: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.2);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 20px;
  text-align: center;
}


